<meta charset="utf-8">
<title>Index Diachronica: involving /kʰ/</title>
<section>
<h2>from /kʰ/</h2>
<p>68 matches
<table border>
<tr><td rowspan=7><a href="all.html#Altaic">8 Altaic</a><td rowspan=1><a href="all.html#Proto-Japonic">8.1 Proto-Altaic to Proto-Japonic</a><td><a href="all.html#Proto-Japonic-pʰ-tʰ-kʰ-p-t-k">pʰ tʰ kʰ → p t k</a>
<tr><td rowspan=1><a href="all.html#Proto-Korean">8.2 Proto-Altaic to Proto-Korean</a><td><a href="all.html#Proto-Korean-pʰ-tʰ-kʰ-p-t-k,h">pʰ tʰ kʰ → p t {k,h}</a>
<tr><td rowspan=2><a href="all.html#Proto-Mongolic">8.3 Proto-Altaic to Proto-Mongolic</a><td><a href="all.html#Proto-Mongolic-kʰ-ɡ">kʰ → ɡ / {C,V}_h</a>
<tr><td><a href="all.html#Proto-Mongolic-kʰ-k">kʰ → k / else</a>
<tr><td rowspan=2><a href="all.html#Proto-Tungusic">8.4 Proto-Altaic to Proto-Tungusic</a><td><a href="all.html#Proto-Tungusic-kʰ-x">kʰ → x / #_</a>
<tr><td><a href="all.html#Proto-Tungusic-kʰ-x,k">kʰ → {x,k}</a>
<tr><td rowspan=1><a href="all.html#Proto-Turkic">8.5 Proto-Altaic to Proto-Turkic</a><td><a href="all.html#Proto-Turkic-kʰ-k">kʰ → k </a>
<tr><td rowspan=1><a href="all.html#Athabaskan">9 Athabaskan</a><td rowspan=1><a href="all.html#Hare-Slavey-Hare">9.19 Proto-Athabaskan to Hare Slavey-Hare</a><td><a href="all.html#Hare-Slavey-Hare-tɬʰ-tʃʷʰ-kʰ-ɬ-s-ʃ">tɬʰ tʃ(ʷ)ʰ kʰ → ɬ s ʃ</a>
<tr><td rowspan=5><a href="all.html#Austroasiatic">10 Austroasiatic</a><td rowspan=1><a href="all.html#Muong-Khen">10.1.1 Proto-Vietic to Muong Khen</a><td><a href="all.html#Muong-Khen-kʰ,ɡʱ-x-Presyllables-don’t-seem-to-have-affected-this-much">{kʰ,ɡʱ} → x (Presyllables don’t seem to have affected this much)</a>
<tr><td rowspan=2><a href="all.html#Middle-Vietnamese">10.1.2 Proto-Vietic to Middle Vietnamese</a><td><a href="all.html#Middle-Vietnamese-bʱ-tʰ,dʱ-t*ʰ,d*ʱ-kʰ,ɡʱ-pʰ-t-tʰ-kʰ-after-*kʰ-*ɡʱ,-only-first-register-tones-may-occur">bʱ {tʰ,dʱ} {t*ʰ,d*ʱ} {kʰ,ɡʱ} → pʰ t tʰ kʰ (after *kʰ *ɡʱ, only first-register tones may occur)</a>
<tr><td><a href="all.html#Middle-Vietnamese-əkʰ,əɡɦj-ɟ-I-think-Thompson-implied-this-was-just-a-bit-of-a-kludge">{əkʰ,əɡɦj} → ɟ (I think Thompson implied this was just a bit of a kludge)</a>
<tr><td rowspan=1><a href="all.html#Hanoi-Vietnamese">10.1.2.1 Middle Vietnamese to Hanoi Vietnamese</a><td><a href="all.html#Hanoi-Vietnamese-kʰ-x-only-seems-to-have-occurred-with-first-register-tones">kʰ → x (only seems to have occurred with first-register tones)</a>
<tr><td rowspan=1><a href="all.html#Saigon-Vietnamese">10.1.2.2 Middle Vietnamese to Saigon Vietnamese</a><td><a href="all.html#Saigon-Vietnamese-kʰ-x-only-seems-to-have-occurred-with-first-register-tones">kʰ → x (only seems to have occurred with first-register tones)</a>
<tr><td rowspan=42><a href="all.html#Indo-European">17 Indo-European</a><td rowspan=4><a href="all.html#Aeolian-Greek">17.8.1 Proto-Indo-European to Aeolian Greek</a><td><a href="all.html#Aeolian-Greek-kʷ-kʰʷ-ɡʷ-t-tʰ-d">kʷ kʰʷ ɡʷ → t tʰ d / _E</a>
<tr><td><a href="all.html#Aeolian-Greek-kʷ-kʰʷ-ɡʷ-p-pʰ-b">kʷ kʰʷ ɡʷ → p pʰ b / _{a,o,C}</a>
<tr><td><a href="all.html#Aeolian-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Aeolian-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td rowspan=5><a href="all.html#Attic-Greek">17.8.2 Proto-Indo-European to Attic Greek</a><td><a href="all.html#Attic-Greek-kʷ-kʰʷ-ɡʷ-t-tʰ-d">kʷ kʰʷ ɡʷ → t tʰ d / _E</a>
<tr><td><a href="all.html#Attic-Greek-kʷ-kʰʷ-ɡʷ-p-pʰ-b">kʷ kʰʷ ɡʷ → p pʰ b / _{a,o,C}</a>
<tr><td><a href="all.html#Attic-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Attic-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td><a href="all.html#Attic-Greek-pʰ-tʰ-kʰ-f-θ-x">pʰ tʰ kʰ → f θ x</a>
<tr><td rowspan=4><a href="all.html#Boeotian-Greek">17.8.3 Proto-Indo-European to Boeotian Greek</a><td><a href="all.html#Boeotian-Greek-kʷ-kʰʷ-ɡʷ-t-tʰ-d">kʷ kʰʷ ɡʷ → t tʰ d / _E</a>
<tr><td><a href="all.html#Boeotian-Greek-kʷ-kʰʷ-ɡʷ-p-pʰ-b">kʷ kʰʷ ɡʷ → p pʰ b / _{a,o,C}</a>
<tr><td><a href="all.html#Boeotian-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Boeotian-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td rowspan=4><a href="all.html#Coan-Greek">17.8.4 Proto-Indo-European to Coan Greek</a><td><a href="all.html#Coan-Greek-kʷ-kʰʷ-ɡʷ-t-tʰ-d">kʷ kʰʷ ɡʷ → t tʰ d / _E</a>
<tr><td><a href="all.html#Coan-Greek-kʷ-kʰʷ-ɡʷ-p-pʰ-b">kʷ kʰʷ ɡʷ → p pʰ b / _{a,o,C}</a>
<tr><td><a href="all.html#Coan-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Coan-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td rowspan=4><a href="all.html#Cretan-Greek">17.8.5 Proto-Indo-European to Cretan Greek</a><td><a href="all.html#Cretan-Greek-kʷ-kʰʷ-ɡʷ-t-tʰ-d">kʷ kʰʷ ɡʷ → t tʰ d / _E</a>
<tr><td><a href="all.html#Cretan-Greek-kʷ-kʰʷ-ɡʷ-p-pʰ-b">kʷ kʰʷ ɡʷ → p pʰ b / _{a,o,C}</a>
<tr><td><a href="all.html#Cretan-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Cretan-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td rowspan=4><a href="all.html#Doric-Greek">17.8.6 Proto-Indo-European to Doric Greek</a><td><a href="all.html#Doric-Greek-kʷ-kʰʷ-ɡʷ-t-tʰ-d">kʷ kʰʷ ɡʷ → t tʰ d / _E</a>
<tr><td><a href="all.html#Doric-Greek-kʷ-kʰʷ-ɡʷ-p-pʰ-b">kʷ kʰʷ ɡʷ → p pʰ b / _{a,o,C}</a>
<tr><td><a href="all.html#Doric-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Doric-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td rowspan=4><a href="all.html#Elian-Greek">17.8.7 Proto-Indo-European to Elian Greek</a><td><a href="all.html#Elian-Greek-kʷ-kʰʷ-ɡʷ-t-tʰ-d">kʷ kʰʷ ɡʷ → t tʰ d / _E</a>
<tr><td><a href="all.html#Elian-Greek-kʷ-kʰʷ-ɡʷ-p-pʰ-b">kʷ kʰʷ ɡʷ → p pʰ b / _{a,o,C}</a>
<tr><td><a href="all.html#Elian-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Elian-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td rowspan=4><a href="all.html#Ionic-Greek">17.8.8 Proto-Indo-European to Ionic Greek</a><td><a href="all.html#Ionic-Greek-kʷ-kʰʷ-ɡʷ-t-tʰ-d">kʷ kʰʷ ɡʷ → t tʰ d / _E</a>
<tr><td><a href="all.html#Ionic-Greek-kʷ-kʰʷ-ɡʷ-p-pʰ-b">kʷ kʰʷ ɡʷ → p pʰ b / _{a,o,C}</a>
<tr><td><a href="all.html#Ionic-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Ionic-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td rowspan=5><a href="all.html#Laconian-Greek">17.8.9 Proto-Indo-European to Laconian Greek</a><td><a href="all.html#Laconian-Greek-kʷ-kʰʷ-ɡʷ-t-tʰ-d">kʷ kʰʷ ɡʷ → t tʰ d / _E</a>
<tr><td><a href="all.html#Laconian-Greek-kʷ-kʰʷ-ɡʷ-p-pʰ-b">kʷ kʰʷ ɡʷ → p pʰ b / _{a,o,C}</a>
<tr><td><a href="all.html#Laconian-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Laconian-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td><a href="all.html#Laconian-Greek-pʰ-tʰ-kʰ-f-θ-x">pʰ tʰ kʰ → f θ x</a>
<tr><td rowspan=4><a href="all.html#Mycenaean-Greek">17.8.10 Proto-Indo-European to Mycenaean Greek</a><td><a href="all.html#Mycenaean-Greek-kʷ-kʰʷ-ɡʷ-t-tʰ-d">kʷ kʰʷ ɡʷ → t tʰ d / _E</a>
<tr><td><a href="all.html#Mycenaean-Greek-kʷ-kʰʷ-ɡʷ-p-pʰ-b">kʷ kʰʷ ɡʷ → p pʰ b / _{a,o,C}</a>
<tr><td><a href="all.html#Mycenaean-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Mycenaean-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td rowspan=2><a href="all.html#Khoisan">20 Khoisan</a><td rowspan=1><a href="all.html#Kxoe">20.1.4 Proto-Khoe to Kxoe</a><td><a href="all.html#Kxoe-kʰ-kx">kʰ → kx</a>
<tr><td rowspan=1><a href="all.html#Naro">20.1.6 Proto-Khoe to Naro</a><td><a href="all.html#Naro-kʰ-kx,k">kʰ → {kx,k}</a>
<tr><td rowspan=3><a href="all.html#Macro-Arawakan">22 Macro-Arawakan</a><td rowspan=1><a href="all.html#Banawá-Jamamadi">22.2 Proto-Arawá to Banawá-Jamamadi</a><td><a href="all.html#Banawá-Jamamadi-kʰ-ɡ-k-w">kʰ ɡ → k w</a>
<tr><td rowspan=1><a href="all.html#Jarawara">22.4 Proto-Arawá to Jarawara</a><td><a href="all.html#Jarawara-kʰ-ɡ-k-w">kʰ ɡ → k w</a>
<tr><td rowspan=1><a href="all.html#Sorowahá">22.6 Proto-Arawá to Sorowahá</a><td><a href="all.html#Sorowahá-kʰ-k">kʰ → k</a>
<tr><td rowspan=4><a href="all.html#Penutian">27 Penutian</a><td rowspan=1><a href="all.html#Nomlaki">27.2.1 Proto-Wintuan to Nomlaki</a><td><a href="all.html#Nomlaki-tʃʰ-kʰ-qʰ-x,χ-tʃ-kʰ-kʰ,qʰ,χ-kʰ">tʃʰ kʰ qʰ {x,χ} → tʃ k(ʰ) {kʰ,qʰ,χ} kʰ</a>
<tr><td rowspan=1><a href="all.html#Patwin">27.2.2 Proto-Wintuan to Patwin</a><td><a href="all.html#Patwin-kʰ-kʼ-qʰ-qʼ-tʃh-tʃʼ-kʰ-kʼ">k(ʰ) kʼ q(ʰ) qʼ → tʃ(h) tʃʼ kʰ kʼ</a>
<tr><td rowspan=1><a href="all.html#South-Patwin">27.2.3 Proto-Wintuan to South Patwin</a><td><a href="all.html#South-Patwin-kʰ-kʼ-qʰ-qʼ-tʃʰ-tʃʼ-kʰ-kʼ">k(ʰ) kʼ q(ʰ) qʼ → tʃ(ʰ) tʃʼ k(ʰ) kʼ</a>
<tr><td rowspan=1><a href="all.html#Wintu">27.2.4 Proto-Wintuan to Wintu</a><td><a href="all.html#Wintu-kʰ-qʰ-k-χ">kʰ qʰ → k χ</a>
<tr><td rowspan=1><a href="all.html#Sino-Tibetan">30 Sino-Tibetan</a><td rowspan=1><a href="all.html#Modern-Pekingese">30.1.1.1 Old Mandarin to Modern Pekingese</a><td><a href="all.html#Modern-Pekingese-kʰ-h-ɕ̑ʰ-ɕ">k(ʰ) h → ɕ̑(ʰ) ɕ / _j</a>
<tr><td rowspan=1><a href="all.html#Siouan-Iroquoian">31 Siouan-Iroquoian</a><td rowspan=1><a href="all.html#Proto-Iroquoian">31.1 Proto-Siouan-Iroquoian to Proto-Iroquoian</a><td><a href="all.html#Proto-Iroquoian-kʰ-r">kʰ → r</a>
<tr><td rowspan=2><a href="all.html#Tanoan">32 Tanoan</a><td rowspan=1><a href="all.html#Taos">32.3 Proto-Tanoan to Taos</a><td><a href="all.html#Taos-kʰ-kʰʷ-ɡ-ɡʷ-x-xʷ-k-w">kʰ kʰʷ ɡ ɡʷ → x xʷ k w</a>
<tr><td rowspan=1><a href="all.html#Tewa">32.4 Proto-Tanoan to Tewa</a><td><a href="all.html#Tewa-kʰ-kʷʰ-ɡʷ-x-xʷ-w">kʰ kʷʰ ɡʷ → x xʷ w</a>
</table>
</section>

<section>
<h2>to /kʰ/</h2>
<p>49 matches
<table border>
<tr><td rowspan=1><a href="all.html#Austroasiatic">10 Austroasiatic</a><td rowspan=1><a href="all.html#Middle-Vietnamese">10.1.2 Proto-Vietic to Middle Vietnamese</a><td><a href="all.html#Middle-Vietnamese-bʱ-tʰ,dʱ-t*ʰ,d*ʱ-kʰ,ɡʱ-pʰ-t-tʰ-kʰ-after-*kʰ-*ɡʱ,-only-first-register-tones-may-occur">bʱ {tʰ,dʱ} {t*ʰ,d*ʱ} {kʰ,ɡʱ} → pʰ t tʰ kʰ (after *kʰ *ɡʱ, only first-register tones may occur)</a>
<tr><td rowspan=1><a href="all.html#Northeast-Caucasian">12 Northeast Caucasian</a><td rowspan=1><a href="all.html#Dargi">12.2 Proto-Northeast Caucasian to Dargi</a><td><a href="all.html#Dargi-tɬ-tɬː-tɬʼ-tɬːʼ-k-xʲː,kː-kʰ-ɡ,q?">tɬ tɬː tɬʼ tɬːʼ → k {xʲː,kː} kʰ {ɡ,q}(?)</a>
<tr><td rowspan=37><a href="all.html#Indo-European">17 Indo-European</a><td rowspan=1><a href="all.html#Artsakh-Armenian">17.3.1 Proto-Indo-European to Artsakh Armenian</a><td><a href="all.html#Artsakh-Armenian-p-ḱ-kʷ-w,v-s-kʰ">p ḱ k(ʷ) → {w,v} s kʰ</a>
<tr><td rowspan=1><a href="all.html#Erevan-Armenian">17.3.2 Proto-Indo-European to Erevan Armenian</a><td><a href="all.html#Erevan-Armenian-p-ḱ-kʷ-w,v-s-kʰ">p ḱ k(ʷ) → {w,v} s kʰ</a>
<tr><td rowspan=1><a href="all.html#Istanbul-Armenian">17.3.3 Proto-Indo-European to Istanbul Armenian</a><td><a href="all.html#Istanbul-Armenian-p-ḱ-kʷ-w,v-s-kʰ">p ḱ k(ʷ) → {w,v} s kʰ</a>
<tr><td rowspan=1><a href="all.html#Kharpert-Armenian">17.3.4 Proto-Indo-European to Kharpert Armenian</a><td><a href="all.html#Kharpert-Armenian-p-ḱ-kʷ-w,v-s-kʰ">p ḱ k(ʷ) → {w,v} s kʰ</a>
<tr><td rowspan=1><a href="all.html#Sebastia-Armenian">17.3.5 Proto-Indo-European to Sebastia Armenian</a><td><a href="all.html#Sebastia-Armenian-p-ḱ-kʷ-w,v-s-kʰ">p ḱ k(ʷ) → {w,v} s kʰ</a>
<tr><td rowspan=1><a href="all.html#Southeast-Armenian">17.3.6 Proto-Indo-European to Southeast Armenian</a><td><a href="all.html#Southeast-Armenian-p-ḱ-kʷ-w,v-s-kʰ">p ḱ k(ʷ) → {w,v} s kʰ</a>
<tr><td rowspan=1><a href="all.html#Southwest-Armenian">17.3.7 Proto-Indo-European to Southwest Armenian</a><td><a href="all.html#Southwest-Armenian-p-ḱ-kʷ-w,v-s-kʰ">p ḱ k(ʷ) → {w,v} s kʰ</a>
<tr><td rowspan=3><a href="all.html#Aeolian-Greek">17.8.1 Proto-Indo-European to Aeolian Greek</a><td><a href="all.html#Aeolian-Greek-bʱ-dʱ-ɡʱ-pʰ-tʰ-kʰ">bʱ dʱ ɡʱ → pʰ tʰ kʰ</a>
<tr><td><a href="all.html#Aeolian-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Aeolian-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td rowspan=3><a href="all.html#Attic-Greek">17.8.2 Proto-Indo-European to Attic Greek</a><td><a href="all.html#Attic-Greek-bʱ-dʱ-ɡʱ-pʰ-tʰ-kʰ">bʱ dʱ ɡʱ → pʰ tʰ kʰ</a>
<tr><td><a href="all.html#Attic-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Attic-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td rowspan=3><a href="all.html#Boeotian-Greek">17.8.3 Proto-Indo-European to Boeotian Greek</a><td><a href="all.html#Boeotian-Greek-bʱ-dʱ-ɡʱ-pʰ-tʰ-kʰ">bʱ dʱ ɡʱ → pʰ tʰ kʰ</a>
<tr><td><a href="all.html#Boeotian-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Boeotian-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td rowspan=3><a href="all.html#Coan-Greek">17.8.4 Proto-Indo-European to Coan Greek</a><td><a href="all.html#Coan-Greek-bʱ-dʱ-ɡʱ-pʰ-tʰ-kʰ">bʱ dʱ ɡʱ → pʰ tʰ kʰ</a>
<tr><td><a href="all.html#Coan-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Coan-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td rowspan=3><a href="all.html#Cretan-Greek">17.8.5 Proto-Indo-European to Cretan Greek</a><td><a href="all.html#Cretan-Greek-bʱ-dʱ-ɡʱ-pʰ-tʰ-kʰ">bʱ dʱ ɡʱ → pʰ tʰ kʰ</a>
<tr><td><a href="all.html#Cretan-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Cretan-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td rowspan=3><a href="all.html#Doric-Greek">17.8.6 Proto-Indo-European to Doric Greek</a><td><a href="all.html#Doric-Greek-bʱ-dʱ-ɡʱ-pʰ-tʰ-kʰ">bʱ dʱ ɡʱ → pʰ tʰ kʰ</a>
<tr><td><a href="all.html#Doric-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Doric-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td rowspan=3><a href="all.html#Elian-Greek">17.8.7 Proto-Indo-European to Elian Greek</a><td><a href="all.html#Elian-Greek-bʱ-dʱ-ɡʱ-pʰ-tʰ-kʰ">bʱ dʱ ɡʱ → pʰ tʰ kʰ</a>
<tr><td><a href="all.html#Elian-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Elian-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td rowspan=3><a href="all.html#Ionic-Greek">17.8.8 Proto-Indo-European to Ionic Greek</a><td><a href="all.html#Ionic-Greek-bʱ-dʱ-ɡʱ-pʰ-tʰ-kʰ">bʱ dʱ ɡʱ → pʰ tʰ kʰ</a>
<tr><td><a href="all.html#Ionic-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Ionic-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td rowspan=3><a href="all.html#Laconian-Greek">17.8.9 Proto-Indo-European to Laconian Greek</a><td><a href="all.html#Laconian-Greek-bʱ-dʱ-ɡʱ-pʰ-tʰ-kʰ">bʱ dʱ ɡʱ → pʰ tʰ kʰ</a>
<tr><td><a href="all.html#Laconian-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Laconian-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td rowspan=3><a href="all.html#Mycenaean-Greek">17.8.10 Proto-Indo-European to Mycenaean Greek</a><td><a href="all.html#Mycenaean-Greek-bʱ-dʱ-ɡʱ-pʰ-tʰ-kʰ">bʱ dʱ ɡʱ → pʰ tʰ kʰ</a>
<tr><td><a href="all.html#Mycenaean-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ">kʷ kʰʷ ɡʷ → k kʰ ɡ / _u</a>
<tr><td><a href="all.html#Mycenaean-Greek-kʷ-kʰʷ-ɡʷ-k-kʰ-ɡ_2">kʷ kʰʷ ɡʷ → k kʰ ɡ / u_</a>
<tr><td rowspan=1><a href="all.html#Niger-Congo">25 Niger-Congo</a><td rowspan=1><a href="all.html#Tswana">25.1.1.7 Proto-Bantu to Tswana</a><td><a href="all.html#Tswana-nk-k-kʰ-h">nk k → kʰ h / _u</a>
<tr><td rowspan=3><a href="all.html#Penutian">27 Penutian</a><td rowspan=1><a href="all.html#Nomlaki">27.2.1 Proto-Wintuan to Nomlaki</a><td><a href="all.html#Nomlaki-tʃʰ-kʰ-qʰ-x,χ-tʃ-kʰ-kʰ,qʰ,χ-kʰ">tʃʰ kʰ qʰ {x,χ} → tʃ k(ʰ) {kʰ,qʰ,χ} kʰ</a>
<tr><td rowspan=1><a href="all.html#Patwin">27.2.2 Proto-Wintuan to Patwin</a><td><a href="all.html#Patwin-kʰ-kʼ-qʰ-qʼ-tʃh-tʃʼ-kʰ-kʼ">k(ʰ) kʼ q(ʰ) qʼ → tʃ(h) tʃʼ kʰ kʼ</a>
<tr><td rowspan=1><a href="all.html#South-Patwin">27.2.3 Proto-Wintuan to South Patwin</a><td><a href="all.html#South-Patwin-kʰ-kʼ-qʰ-qʼ-tʃʰ-tʃʼ-kʰ-kʼ">k(ʰ) kʼ q(ʰ) qʼ → tʃ(ʰ) tʃʼ k(ʰ) kʼ</a>
<tr><td rowspan=5><a href="all.html#Quechumaran">28 Quechumaran</a><td rowspan=1><a href="all.html#Bolivia">28.2 Proto-Quechumaran to Bolivia</a><td><a href="all.html#Bolivia-ph-th-kh-qh-pʰ-tʰ-kʰ-qʰ">ph th kh qh → pʰ tʰ kʰ qʰ</a>
<tr><td rowspan=1><a href="all.html#Cuzco">28.3 Proto-Quechumaran to Cuzco</a><td><a href="all.html#Cuzco-kh-qh-kʰ-qʰ">kh qh → kʰ qʰ</a>
<tr><td rowspan=3><a href="all.html#Riobamba">28.7 Proto-Quechumaran to Riobamba</a><td><a href="all.html#Riobamba-qh-kʰ">qh → kʰ / _i ! _i{ʃ,tʃ}</a>
<tr><td><a href="all.html#Riobamba-kh-kʰ">kh → kʰ / #_{i,u}</a>
<tr><td><a href="all.html#Riobamba-χ-kʰ-#_">χ → kʰ #_</a>
<tr><td rowspan=1><a href="all.html#Tanoan">32 Tanoan</a><td rowspan=1><a href="all.html#Kiowa">32.2 Proto-Tanoan to Kiowa</a><td><a href="all.html#Kiowa-kʷ-kʷʰ-kʷʼ-ɡʷ-k-kʰ-kʼ-ɡ">kʷ kʷʰ kʷʼ ɡʷ → k kʰ kʼ ɡ</a>
</table>
</section>

