<table border>
<tr>
<td><a href="search.cgi?q=m">m</a> 
<td><a href="search.cgi?q=%c9%b1">ɱ</a> 
<td><a href="search.cgi?q=%c5%8bm">ŋm</a> 
<td>
<td><a href="search.cgi?q=n">n</a> 
<td>
<td><a href="search.cgi?q=%c9%b3">ɳ</a> 
<td>
<td><a href="search.cgi?q=%c9%b2">ɲ</a> 
<td>
<td><a href="search.cgi?q=%c5%8b">ŋ</a> 
<td><a href="search.cgi?q=%c9%b4">ɴ</a> 
<td>
<td>
<tr>
<td><a href="search.cgi?q=p">p</a> <a href="search.cgi?q=b">b</a> 
<td>
<td><a href="search.cgi?q=kp">kp</a> <a href="search.cgi?q=%c9%a1b">ɡb</a> 
<td>
<td><a href="search.cgi?q=t">t</a> <a href="search.cgi?q=d">d</a> 
<td>
<td><a href="search.cgi?q=%ca%88">ʈ</a> <a href="search.cgi?q=%c9%96">ɖ</a> 
<td>
<td><a href="search.cgi?q=c">c</a> <a href="search.cgi?q=%c9%9f">ɟ</a> 
<td>
<td><a href="search.cgi?q=k">k</a> <a href="search.cgi?q=%c9%a1">ɡ</a> 
<td><a href="search.cgi?q=q">q</a> <a href="search.cgi?q=%c9%a2">ɢ</a> 
<td>
<td><a href="search.cgi?q=%ca%94">ʔ</a> 
<tr>
<td><a href="search.cgi?q=%c9%93">ɓ</a> 
<td>
<td>
<td>
<td><a href="search.cgi?q=%c9%97">ɗ</a> 
<td>
<td>
<td>
<td><a href="search.cgi?q=%ca%84">ʄ</a> 
<td>
<td><a href="search.cgi?q=%c9%a0">ɠ</a> 
<td>
<td>
<td>
<tr>
<td><a href="search.cgi?q=%c9%b8">ɸ</a> <a href="search.cgi?q=%ce%b2">β</a> 
<td><a href="search.cgi?q=f">f</a> <a href="search.cgi?q=v">v</a> 
<td>
<td><a href="search.cgi?q=%ce%b8">θ</a> <a href="search.cgi?q=%c3%b0">ð</a> 
<td><a href="search.cgi?q=s">s</a> <a href="search.cgi?q=z">z</a> 
<td><a href="search.cgi?q=%ca%83">ʃ</a> <a href="search.cgi?q=%ca%92">ʒ</a> 
<td><a href="search.cgi?q=%ca%82">ʂ</a> <a href="search.cgi?q=%ca%90">ʐ</a> 
<td><a href="search.cgi?q=%c9%95">ɕ</a> <a href="search.cgi?q=%ca%91">ʑ</a> 
<td><a href="search.cgi?q=%c3%a7">ç</a> <a href="search.cgi?q=%ca%9d">ʝ</a> 
<td>
<td><a href="search.cgi?q=x">x</a> <a href="search.cgi?q=%c9%a3">ɣ</a> 
<td><a href="search.cgi?q=%cf%87">χ</a> <a href="search.cgi?q=%ca%81">ʁ</a> 
<td><a href="search.cgi?q=%c4%a7">ħ</a> <a href="search.cgi?q=%ca%95">ʕ</a> 
<td><a href="search.cgi?q=h">h</a> <a href="search.cgi?q=%c9%a6">ɦ</a> 
<tr>
<td>
<td><a href="search.cgi?q=pf">pf</a> 
<td>
<td>
<td><a href="search.cgi?q=ts">ts</a> <a href="search.cgi?q=dz">dz</a> 
<td><a href="search.cgi?q=t%ca%83">tʃ</a> <a href="search.cgi?q=d%ca%92">dʒ</a> 
<td><a href="search.cgi?q=%ca%88%ca%82">ʈʂ</a> <a href="search.cgi?q=%c9%96%ca%90">ɖʐ</a> 
<td><a href="search.cgi?q=t%c9%95">tɕ</a> <a href="search.cgi?q=d%ca%91">dʑ</a> 
<td><a href="search.cgi?q=c%c3%a7">cç</a> <a href="search.cgi?q=%c9%9f%ca%9d">ɟʝ</a> 
<td>
<td><a href="search.cgi?q=kx">kx</a> 
<td><a href="search.cgi?q=q%cf%87">qχ</a> 
<td>
<td>
<tr>
<td>
<td><a href="search.cgi?q=%ca%8b">ʋ</a> 
<td><a href="search.cgi?q=%ca%8d">ʍ</a> <a href="search.cgi?q=w">w</a> 
<td>
<td><a href="search.cgi?q=%c9%b9">ɹ</a> 
<td>
<td><a href="search.cgi?q=%c9%bb">ɻ</a> 
<td>
<td><a href="search.cgi?q=j">j</a> 
<td><a href="search.cgi?q=%c9%a5">ɥ</a> 
<td><a href="search.cgi?q=%c9%b0">ɰ</a> 
<td>
<td>
<td>
<tr>
<td>
<td>
<td>
<td>
<td><a href="search.cgi?q=%c9%be">ɾ</a> 
<td>
<td><a href="search.cgi?q=%c9%bd">ɽ</a> 
<td>
<td>
<td>
<td>
<td>
<td>
<td>
<tr>
<td><a href="search.cgi?q=%ca%99">ʙ</a> 
<td>
<td>
<td>
<td><a href="search.cgi?q=r">r</a> 
<td>
<td>
<td>
<td>
<td>
<td>
<td><a href="search.cgi?q=%ca%80">ʀ</a> 
<td>
<td>
<tr>
<td>
<td>
<td>
<td>
<td><a href="search.cgi?q=%c9%ac">ɬ</a> <a href="search.cgi?q=%c9%ae">ɮ</a> 
<td>
<td>
<td>
<td>
<td>
<td>
<td>
<td>
<td>
<tr>
<td>
<td>
<td>
<td>
<td><a href="search.cgi?q=t%c9%ac">tɬ</a> <a href="search.cgi?q=d%c9%ae">dɮ</a> 
<td>
<td>
<td>
<td>
<td>
<td>
<td>
<td>
<td>
<tr>
<td>
<td>
<td>
<td>
<td><a href="search.cgi?q=l">l</a> <a href="search.cgi?q=%c9%ab">ɫ</a> 
<td>
<td><a href="search.cgi?q=%c9%ad">ɭ</a> 
<td>
<td><a href="search.cgi?q=%ca%8e">ʎ</a> 
<td>
<td><a href="search.cgi?q=%ca%9f">ʟ</a> 
<td>
<td>
<td>
<tr>
<td><a href="search.cgi?q=%ca%98">ʘ</a> 
<td>
<td>
<td><a href="search.cgi?q=%c7%80">ǀ</a> 
<td><a href="search.cgi?q=%c7%81">ǁ</a> 
<td><a href="search.cgi?q=%c7%83">ǃ</a> 
<td>
<td>
<td><a href="search.cgi?q=%c7%82">ǂ</a> 
<td>
<td>
<td>
<td>
<td>
</table>
<table border>
<tr>
<td><a href="search.cgi?q=i">i</a> <a href="search.cgi?q=y">y</a> 
<td>
<td><a href="search.cgi?q=%c9%a8">ɨ</a> <a href="search.cgi?q=%ca%89">ʉ</a> 
<td>
<td><a href="search.cgi?q=%c9%af">ɯ</a> <a href="search.cgi?q=u">u</a> 
<tr>
<td>
<td><a href="search.cgi?q=%c9%aa">ɪ</a> <a href="search.cgi?q=%ca%8f">ʏ</a> 
<td>
<td><a href="search.cgi?q=%ca%8a">ʊ</a> 
<td>
<tr>
<td><a href="search.cgi?q=e">e</a> <a href="search.cgi?q=%c3%b8">ø</a> 
<td>
<td><a href="search.cgi?q=%c9%98">ɘ</a> <a href="search.cgi?q=%c9%b5">ɵ</a> 
<td>
<td><a href="search.cgi?q=%c9%a4">ɤ</a> <a href="search.cgi?q=o">o</a> 
<tr>
<td>
<td>
<td><a href="search.cgi?q=%c9%99">ə</a> 
<td>
<td>
<tr>
<td><a href="search.cgi?q=%c9%9b">ɛ</a> <a href="search.cgi?q=%c5%93">œ</a> 
<td>
<td><a href="search.cgi?q=%c9%9c">ɜ</a> 
<td>
<td><a href="search.cgi?q=%ca%8c">ʌ</a> <a href="search.cgi?q=%c9%94">ɔ</a> 
<tr>
<td><a href="search.cgi?q=%c3%a6">æ</a> 
<td>
<td><a href="search.cgi?q=%c9%90">ɐ</a> 
<td>
<td>
<tr>
<td><a href="search.cgi?q=a">a</a> 
<td>
<td>
<td>
<td><a href="search.cgi?q=%c9%91">ɑ</a> <a href="search.cgi?q=%c9%92">ɒ</a> 
</table>
<p><a href="search.cgi?q=%ca%b0">ʰ</a> <a href="search.cgi?q=%ca%b1">ʱ</a> <a href="search.cgi?q=%ca%b2">ʲ</a> <a href="search.cgi?q=%ca%b7">ʷ</a> <a href="search.cgi?q=%ca%bc">ʼ</a> <a href="search.cgi?q=%cb%80">ˀ</a> <a href="search.cgi?q=%cb%90">ː</a> <a href="search.cgi?q=%cb%91">ˑ</a> <a href="search.cgi?q=%cb%a4">ˤ</a> <a href="search.cgi?q=%cc%80">◌̀</a> <a href="search.cgi?q=%cc%81">◌́</a> <a href="search.cgi?q=%cc%82">◌̂</a> <a href="search.cgi?q=%cc%83">◌̃</a> <a href="search.cgi?q=%cc%84">◌̄</a> <a href="search.cgi?q=%cc%86">◌̆</a> <a href="search.cgi?q=%cc%88">◌̈</a> <a href="search.cgi?q=%cc%8a">◌̊</a> <a href="search.cgi?q=%cc%8c">◌̌</a> <a href="search.cgi?q=%cc%9a">◌̚</a> <a href="search.cgi?q=%cc%9d">◌̝</a> <a href="search.cgi?q=%cc%9e">◌̞</a> <a href="search.cgi?q=%cc%a3">◌̣</a> <a href="search.cgi?q=%cc%a5">◌̥</a> <a href="search.cgi?q=%cc%a9">◌̩</a> <a href="search.cgi?q=%cc%aa">◌̪</a> <a href="search.cgi?q=%cc%ac">◌̬</a> <a href="search.cgi?q=%cc%af">◌̯</a> <a href="search.cgi?q=%cc%b0">◌̰</a> <a href="search.cgi?q=%cc%b2">◌̲</a> <a href="search.cgi?q=%cc%ba">◌̺</a> <a href="search.cgi?q=%cc%bb">◌̻</a> <a href="search.cgi?q=%cc%bc">◌̼</a> <a href="search.cgi?q=%cd%9c">◌͜◌</a> <a href="search.cgi?q=%cd%9cq">◌͜q</a> <a href="search.cgi?q=%cd%9c%c9%a2">◌͜ɢ</a> <a href="search.cgi?q=%cd%9c%ca%b0">◌͜ʰ</a> <a href="search.cgi?q=%c2%b9"><sup>1</sup></a> <a href="search.cgi?q=%c2%b2"><sup>2</sup></a> <a href="search.cgi?q=%c2%b3"><sup>3</sup></a> <a href="search.cgi?q=%e2%81%b4"><sup>4</sup></a> <a href="search.cgi?q=%e2%81%b5"><sup>5</sup></a> <a href="search.cgi?q=%e2%82%80"><sub>0</sub></a> <a href="search.cgi?q=%e2%82%81"><sub>1</sub></a> <a href="search.cgi?q=%e2%82%82"><sub>2</sub></a> <a href="search.cgi?q=%e2%82%83"><sub>3</sub></a> <a href="search.cgi?q=%e2%82%84"><sub>4</sub></a> </p>
<p><a href="search.cgi?q=%23_">#_</a> <a href="search.cgi?q=_%23">_#</a> <a href="search.cgi?q=%23">#</a> <a href="search.cgi?q=%24">$</a> <a href="search.cgi?q=%25">%</a> <a href="search.cgi?q=%26">&</a> <a href="search.cgi?q=%3a">:</a> <a href="search.cgi?q=%40">@</a> <a href="search.cgi?q=A">A</a> <a href="search.cgi?q=B">B</a> <a href="search.cgi?q=C">C</a> <a href="search.cgi?q=D">D</a> <a href="search.cgi?q=E">E</a> <a href="search.cgi?q=F">F</a> <a href="search.cgi?q=G">G</a> <a href="search.cgi?q=H">H</a> <a href="search.cgi?q=I">I</a> <a href="search.cgi?q=J">J</a> <a href="search.cgi?q=K">K</a> <a href="search.cgi?q=L">L</a> <a href="search.cgi?q=M">M</a> <a href="search.cgi?q=N">N</a> <a href="search.cgi?q=O">O</a> <a href="search.cgi?q=P">P</a> <a href="search.cgi?q=Q">Q</a> <a href="search.cgi?q=R">R</a> <a href="search.cgi?q=S">S</a> <a href="search.cgi?q=T">T</a> <a href="search.cgi?q=U">U</a> <a href="search.cgi?q=V">V</a> <a href="search.cgi?q=W">W</a> <a href="search.cgi?q=X">X</a> <a href="search.cgi?q=Y">Y</a> <a href="search.cgi?q=Z">Z</a> <a href="search.cgi?q=%c5%81">Ł</a> <a href="search.cgi?q=%c8%b5">ȵ</a> <a href="search.cgi?q=%c9%9a">ɚ</a> <a href="search.cgi?q=%c9%bf">ɿ</a> <a href="search.cgi?q=%ca%85">ʅ</a> <a href="search.cgi?q=%ce%a9">Ω</a> <a href="search.cgi?q=%d1%8a">ъ</a> <a href="search.cgi?q=%d1%8c">ь</a> <a href="search.cgi?q=%e1%b5%9a">ᵚ</a> <a href="search.cgi?q=%e2%80%9d">”</a> <a href="search.cgi?q=%e2%80%a6">…</a> <a href="search.cgi?q=%e2%88%85">∅</a> </p>
<p><a href="search.cgi?q=%5b%2bA%20POA%5d">[+A POA]</a> <a href="search.cgi?q=%5b%2bATR%5d">[+ATR]</a> <a href="search.cgi?q=%5b-ATR%5d">[-ATR]</a> <a href="search.cgi?q=%5b%2bB%20POA%5d">[+B POA]</a> <a href="search.cgi?q=%5b%2bRTR%5d">[+RTR]</a> <a href="search.cgi?q=%5b-accent%5d">[-accent]</a> <a href="search.cgi?q=%5b%2baffricate%5d">[+affricate]</a> <a href="search.cgi?q=%5b%2balveolar%5d">[+alveolar]</a> <a href="search.cgi?q=%5b%2balveolopalatal%5d">[+alveolopalatal]</a> <a href="search.cgi?q=%5banything%5d">[anything]</a> <a href="search.cgi?q=%5b%2baspirated%5d">[+aspirated]</a> <a href="search.cgi?q=%5b-back%5d">[-back]</a> <a href="search.cgi?q=%5b%2bclose-mid%5d">[+close-mid]</a> <a href="search.cgi?q=%5b%2bclosed%5d">[+closed]</a> <a href="search.cgi?q=%5b%2bcoronal%5d">[+coronal]</a> <a href="search.cgi?q=%5b-coronal%5d">[-coronal]</a> <a href="search.cgi?q=%5b%2bcreaky%20voice%5d">[+creaky voice]</a> <a href="search.cgi?q=%5b-creaky%20voice%5d">[-creaky voice]</a> <a href="search.cgi?q=%5b%2bdental%5d">[+dental]</a> <a href="search.cgi?q=%5b-dental%5d">[-dental]</a> <a href="search.cgi?q=%5b%2bdorsal%5d">[+dorsal]</a> <a href="search.cgi?q=%5b%2be%2ci%5d">[+e,i]</a> <a href="search.cgi?q=%5b-ejective%5d">[-ejective]</a> <a href="search.cgi?q=%5b%2bfalling%20tone%5d">[+falling tone]</a> <a href="search.cgi?q=%5b-falling%20tone%5d">[-falling tone]</a> <a href="search.cgi?q=%5b%2bfortis%5d">[+fortis]</a> <a href="search.cgi?q=%5b-fortis%5d">[-fortis]</a> <a href="search.cgi?q=%5b%2bfricative%5d">[+fricative]</a> <a href="search.cgi?q=%5b-front%5d">[-front]</a> <a href="search.cgi?q=%5b%2bglide%5d">[+glide]</a> <a href="search.cgi?q=%5b-glottal%5d">[-glottal]</a> <a href="search.cgi?q=%5b-glottalized%5d">[-glottalized]</a> <a href="search.cgi?q=%5b%2bguttural%5d">[+guttural]</a> <a href="search.cgi?q=%5b%2bhigh%20pitch%5d">[+high pitch]</a> <a href="search.cgi?q=%5b%2bhigh%20rising%20tone%5d">[+high rising tone]</a> <a href="search.cgi?q=%5b%2bhigh%20tone%5d">[+high tone]</a> <a href="search.cgi?q=%5b%2bhigh%5d">[+high]</a> <a href="search.cgi?q=%5b-high%5d">[-high]</a> <a href="search.cgi?q=%5b%2bhigher%5d">[+higher]</a> <a href="search.cgi?q=%5b%2bintertonic%5d">[+intertonic]</a> <a href="search.cgi?q=%5b%2blabial%5d">[+labial]</a> <a href="search.cgi?q=%5b-labial%5d">[-labial]</a> <a href="search.cgi?q=%5b%2blabiodental%5d">[+labiodental]</a> <a href="search.cgi?q=%5b%2blabiovelar%5d">[+labiovelar]</a> <a href="search.cgi?q=%5b%2blateral%5d">[+lateral]</a> <a href="search.cgi?q=%5b%2blenis%5d">[+lenis]</a> <a href="search.cgi?q=%5b-lenis%5d">[-lenis]</a> <a href="search.cgi?q=%5b%2blong%5d">[+long]</a> <a href="search.cgi?q=%5b-long%5d">[-long]</a> <a href="search.cgi?q=%5blost%20yer%5d">[lost yer]</a> <a href="search.cgi?q=%5b%2blow%20falling%20tone%5d">[+low falling tone]</a> <a href="search.cgi?q=%5b%2blow%20pitch%5d">[+low pitch]</a> <a href="search.cgi?q=%5b-low%20pitch%5d">[-low pitch]</a> <a href="search.cgi?q=%5b%2blow%20tone%5d">[+low tone]</a> <a href="search.cgi?q=%5b%2blow%5d">[+low]</a> <a href="search.cgi?q=%5b-low%5d">[-low]</a> <a href="search.cgi?q=%5b%2bmid%5d">[+mid]</a> <a href="search.cgi?q=%5b%2bnasal%5d">[+nasal]</a> <a href="search.cgi?q=%5b-nasal%5d">[-nasal]</a> <a href="search.cgi?q=%5b%2bopen-mid%5d">[+open-mid]</a> <a href="search.cgi?q=%5b%2bpalatal%5d">[+palatal]</a> <a href="search.cgi?q=%5b-palatal%5d">[-palatal]</a> <a href="search.cgi?q=%5b-palatalized%5d">[-palatalized]</a> <a href="search.cgi?q=%5b%2bpharyngeal%5d">[+pharyngeal]</a> <a href="search.cgi?q=%5b%2bpi%cc%81ng%20tone%5d">[+píng tone]</a> <a href="search.cgi?q=%5b%2brhotic%5d">[+rhotic]</a> <a href="search.cgi?q=%5b%2bround%5d">[+round]</a> <a href="search.cgi?q=%5b-round%5d">[-round]</a> <a href="search.cgi?q=%5b%2bsame%20POA%5d">[+same POA]</a> <a href="search.cgi?q=%5b-same%20POA%5d">[-same POA]</a> <a href="search.cgi?q=%5b%2bshort%5d">[+short]</a> <a href="search.cgi?q=%5b%2bsibilant%5d">[+sibilant]</a> <a href="search.cgi?q=%5b%2bstress%5d">[+stress]</a> <a href="search.cgi?q=%5b-stress%5d">[-stress]</a> <a href="search.cgi?q=%5b-tone%5d">[-tone]</a> <a href="search.cgi?q=%5btruncated%20vowel-thing%5d">[truncated vowel-thing]</a> <a href="search.cgi?q=%5b%2bu%2ca%5d">[+u,a]</a> <a href="search.cgi?q=%5b%2buvular%5d">[+uvular]</a> <a href="search.cgi?q=%5b%2bvelar%5d">[+velar]</a> <a href="search.cgi?q=%5b%2bvoice%5d">[+voice]</a> <a href="search.cgi?q=%5b-voice%5d">[-voice]</a> <a href="search.cgi?q=%5b%2bweak%5d">[+weak]</a> </p>
